:root {
  // accent
  --color-accent-500: #925f3b;

  // info
  --color-info-700: #2f68cc;

  // light
  --color-light-100: #fff;

  // dark
  --color-dark-500: #333;
  --color-dark-700: #171717;
  --color-dark-900: #000;
}
