.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 56px 0 58px;
  padding: 0 20px;
}

.name {
  display: block;
  margin-bottom: 10px;
}

.myMessage {
  margin-left: auto;
}
