.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.title {
  margin: 0;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.textField {
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  &:focus-visible {
    border: none;
    outline: 2px solid var(--color-info-700);
  }
}

.buttonSubmit {
  all: unset;

  cursor: pointer;

  padding: 6px 28px;

  background-color: var(--color-accent-500);
  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}
