.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.header {
  position: fixed;

  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: var(--color-dark-700);
}

.buttonLogout {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  padding: 2px;

  border-radius: 50%;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.imageLogout {
  width: 100%;
}
